<h2 style="text-align: center; color: blueviolet">Profile</h2>
<div class="col-md-3"></div>
<div class="col-md-9">
<form #myForm="ngForm" (ngSubmit)="AddUser(myForm)">
        
    
        <div class="form-group">
            <label for="first_name">First Name<span style="color: red" class="required">*</span></label>
            <input [(ngModel)]="first_name" type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter first_name" required>
        </div>
    
       
        <div class="form-group">
            <label for="contact_no">Mob</label>
            <input [(ngModel)]="contact_no" type="text" class="form-control" id="contact_no" name="contact_no" placeholder="Enter mob_no" required>
        </div>
        <div class="form-group">
            <label for="username">Username<span style="color: red" class="required">*</span></label>
            <input [(ngModel)]="username" type="username" class="form-control" id="username" name="username" placeholder="Enter username" required>
        </div>

        <div class="form-group">
            <label for="email">Email<span style="color: red" class="required">*</span></label>
            <input [(ngModel)]="email" type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
        </div>

        <div class="form-group">
            <label for="password">Password<span style="color: red" class="required">*</span></label>
            <input [(ngModel)]="password" type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
        </div>
        <div class="form-group">
            <label for="Address">Address: &nbsp;</label>
            <input [(ngModel)]="address" type="text" class="form-control" id="address" name="address" placeholder="Your place mark" required>
        </div>
        <div class="form-group">
            <label for="city">City: &nbsp;</label>
            <input [(ngModel)]="city" type="text" class="form-control" name="city" id="city" placeholder="enter city" >
            <!-- <select ngModel style="width: 100px" name="city" id="city">
                <option *ngFor="let c of cities">{{c.name}}</option>
            </select> -->
        </div>
        <div class="form-group">
            <label for="zip">PinCode:</label>
            <input [(ngModel)]="zip" type="number" class="form-control" name="zip" id="zip" placeholder="Enter pincode" >
        </div>
        
       
         <button type="submit" class="btn btn-primary" (click)="AddUser(myForm)">Submit</button>
        <button style="float: right" type="button" class="btn btn-success" (click)="GoBackHome()">Go Back to Home</button>
        <br>
        
            
     
       
</form>
</div>
